/*Animate funds*/

.label-success {
  transition: all 0.6s linear;
  width: 55px;
}
.label-success.ng-hide {
  width: 0;
}


/*Animate route changes*/

[ui-view].ng-enter {
  transition: all 1s linear;
  opacity: 0;
}
[ui-view].ng-enter-active {
  opacity: 1;
}

/*Animate the ng-repeat*/
/*
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes shrink {
  from {
    height: 111px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}
@keyframes grow {
  from {
    height: 0;
  }
  to {
    height: 111px;
  }
}
.panel.ng-enter {
  animation: 0.8s appear;
}
.panel.ng-leave {
  animation: 0.8s disappear;
}
.panel.ng-move {
  animation: 0.8s shrink;
}
.panel.ng-move-active {
  animation: 0.8s grow;
}*/



/*
.example-animate-container {
    background: #ececec;
    list-style:none;
    margin:0;
    padding:0 10px;
}
*/
.animate-repeat {
    line-height:40px;
    list-style:none;
    /*box-sizing:border-box;*/
    border-bottom: 2px solid white;
    -webkit-transition: 2s linear all;
    transition: 2s linear all;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}
/*
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
}*/

/**
 * Stagger Leave (hide) animation
 */
.animate-repeat.ng-leave-stagger {
    /* this will have a 100ms delay between each successive leave animation */
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

/**
 * Stagger ENTER ANIMATION
 */
.animate-repeat.ng-enter-stagger {
    /* this will have a 100ms delay between each successive enter animation */
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
