<h1>Welcome to Nelsons XKCD App</h1>
<p>Below will go the app's contents.</p>

<link href="//fonts.googleapis.com/css?family=Grand+Hotel|Roboto+Slab:400,300" rel="stylesheet">
        <!-- OpenSearch -->
<!--   <link rel="search" type="application/opensearchdescription+xml" href="./opensearch.xml" /> -->
<body ng-controller="ComicsController" class="good-font">

    <nav class="fixed-title" role="navigation">
        <input ng-change="limit=15" type="search" role="search" class="ng-cloak good-font plugin-search" placeholder="Search {{ (data | filter:notBlacklisted).length }} plugins..." ng-model="search" autofocus>
    </nav>
    <hr>

    <section class="ng-cloak plugin-list-container" ng-init="limit=20" infinite-scroll="limit=limit+25" role="main">
        <ul class="plugin-list" ng-show="data" role="list">
            <li class="no-results" ng-hide="(data | filter:search | filter:notBlacklisted).length">No results found</li>

            <li role="listitem" class="plugin"
             ng-repeat="plugin in data | filter:search | filter:notBlacklisted | limitTo:limit track by $index">
                <a ng-href="https://www.npmjs.com/package/{{plugin.name}}/" target="_blank" title="Install" class="title" ng-bind="plugin.name"></a>
                <div class="description" ng-bind="plugin.description"></div>
                <div class="more-info">
                    <div class="tags">
                        <a ng-repeat="keyword in plugin.keywords | orderBy:orderByGulpKeywords track by $index"
                           ng-href="http://npmsearch.com/?q=keywords:{{keyword}}"
                           target="_blank"
                           ng-bind="keyword">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</body>

