<div class="comics-container" ng-controller="MainController as vm">
    <section>
      <h1>Welcome to Nelsons XKCD App</h1>
      <p>Below will go the app's contents.</p>
        <p class="col-xs-12">
          <!-- Search field  -->
          <label>Search</label>
          <input type="search" class="form-control" ng-model="vm.search" placeholder="search...">
        </p>
    </section>
    <br>
    <br>
      <div ng-repeat="comic in vm.comics | filter: vm.search">
      <hr>
       <div class="guts">
          <p><strong>{{comic.title | uppercase}}</strong></p>
          <img src="{{comic.img}}">
          <p>{{comic.alt}}</p>
          <p>
          <small>Month: {{comic.month}}</small> -
          <small>#{{comic.num}}</small>
          </p>
       </div>
      </div>
</div>
