<div class="comics-container" ng-controller="ComicController as vm">
    <section>
      <h1>Which is the relevant XKCD?</h1>
        <p class="col-xs-12">
          <!-- Search field  -->
          <label>Search</label>
<!--           <input type="checkbox" data-ng-model='search.type1' data-ng-true-value='luxury' data-ng-false-value='' /> Luxury &nbsp;&nbsp;&nbsp;
          <input type="checkbox" data-ng-model='search.type2' data-ng-true-value='double suite' data-ng-false-value='' /> Double suite
 -->          <input type="search" class="form-control" ng-model="vm.search" placeholder="Keywords from the comic you are searching for...">
        </p>
    </section>
    <br>
    <br>
    <!-- <div id="wrapper"> -->
        <div class="animate-repeat" id="wrapper" ng-repeat="comic in vm.comics | filter: vm.search | orderBy:['-votecount','-num'] | limitTo:30">
        <hr>
        <div id="left-div" class="votecounter">
           <img class="votebutton" alt="^" title="vote up"   src="../../images/upvote.png" ng-click="vm.updateComic(comic, true);"/>
           <div>{{comic.votecount - 100}}</div>
           <img class="votebutton" alt="v" title="vote down" src="../../images/downvote.png" ng-click="vm.updateComic(comic, false);"/>
        </div>
         <div id="right-div" class="comics-content">
            <h2>{{comic.title}}</h2>
            <img src="{{comic.img}}" title={{comic.alt}} id="comicplaceholder">
            <h4><strong>{{comic.alt}}</strong></h4>
            <p><small>Published: {{comic.month}}/{{comic.year}} - comic# {{comic.num}}</small></p>
         </div>
      </div>
   <!-- </div> -->
</div>
