<div class="comics-container" ng-controller="MainController as vm">
  <br>
  <h1>Welcome to Nelsons XKCD App</h1>
  <p>Below will go the app's contents.</p>
    <div class="col-xs-6">
      <!-- Dropdown to select city -->
      <label>City</label>
      <select class="form-control" ng-model="vm.selectedCity" ng-options="city for city in vm.cities"></select>
    </div>
    <div class="col-xs-6">
      <!-- Search field  -->
      <label>Search</label>
      <input type="search" class="form-control" ng-model="vm.search" placeholder="search...">
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Bio</th>
        <th>Client Date</th>
        <th class="text-right">Funds</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="client in vm.clients">
        <td>{{client.name}}</td>
        <td>{{client.city}}</td>
        <td>{{client.bio}}</td>
        <td>{{client.date}}</td>
        <td class="text-right">{{client.funds}}</td>
      </tr>
    </tbody>
  </table>
</div>
